# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages

- Python  
- R  
- SQL  
- Julia  
- Scala  
- Java

## Data Science Libraries

- NumPy  
- Pandas  
- Matplotlib  
- Scikit-learn  
- TensorFlow  
- ggplot2  
- caret

## Data Science Tools

| Tool           | Purpose                  |
|----------------|--------------------------|
| Jupyter Notebook | Interactive coding environment |
| GitHub         | Version control and collaboration |
| Tableau        | Data visualization       |
| Apache Spark   | Big data processing      |
| IBM Watson     | AI and machine learning  |

## Arithmetic Expression Examples

Below are some examples demonstrating simple arithmetic operations using Python code.

In [5]:
# Multiply 5 by 3 and then add 10
result = 5 * 3 + 10
print("Result of 5 * 3 + 10 is:", result)

Result of 5 * 3 + 10 is: 25

In [6]:
# Convert minutes to hours
minutes = 135
hours = minutes / 60
print(minutes, "minutes is equal to", hours, "hours")

135 minutes is equal to 2.25 hours

## Objectives

- Understand key data science languages and libraries  
- Explore popular data science tools  
- Practice basic arithmetic operations in Python  
- Learn time conversion from minutes to hours  
- Share work publicly using GitHub

## Author

Muhammad Abdul Rehman Shakeel